.input-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.canvas-container {
  margin: 0 auto;
}

.title {
  margin-top: 1rem;
}

.more-info {
  font-size: 12px;
  color: dodgerblue;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
